<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col">
                <img src="assets/images/headmaster.jpg" alt="head master" class="header-master" />
            </div>
            
            <!-- Speech Column -->
            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote" />
                    </div>
                    
                    <div class="speach-container">
                        <h1>About Us</h1>
                        <p class="speach-content">

Selamat datang di Skincare App! Didirikan oleh John Doe, kami hadir untuk merayakan kecantikan alami Anda melalui produk perawatan kulit yang aman, efektif, dan berbahan alami.  

Terinspirasi oleh pengalaman pribadi, John Doe menciptakan solusi perawatan kulit yang mendukung kesehatan kulit dan kepercayaan diri Anda. Kami berkomitmen menggunakan bahan berkualitas tinggi yang ramah untuk kulit dan lingkungan.  

Bersama Skincare App, mari temukan versi terbaik dari diri Anda!
                     </p>
                    </div>
                    
                    <div class="quote-container right-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote" />
                    </div>
                    
                    <div class="footer">
                        <p class="name">John Doe</p>
                        <p class="role">Sigma App</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
